.button {
  width: 30%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* gap: 10px; */
  background-color: rgb(161, 255, 20);
  border-radius: 30px;
  color: rgb(19, 19, 19);
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: 0.2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
  /* padding-left: 8px; */
  transition-duration: 0.5s;
}

.text {
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins-Bold";
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  white-space: nowrap;
  font-size: 2vh;
}

.svgIcon {
  height: 80%;
  transition-duration: 1.5s;
}

.bell path {
  fill: rgb(19, 19, 19);
}

.button:hover {
  background-color: rgb(192, 255, 20);
  transition-duration: 0.5s;
}

.button:active {
  transform: scale(0.97);
  transition-duration: 0.2s;
}

.button:hover .svgIcon {
  transform: rotate(250deg);
  transition-duration: 1.5s;
}
