.box {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    rgba(253, 29, 29, 1) 41%,
    rgba(252, 176, 69, 1) 100%
  );
}

/* .gradDynamic {
  position: relative;
}

.gradDynamic:after,
.gradDynamic:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: -1;
}

.gradDynamic:after {
  background: radial-gradient(circle, red, transparent);
  background-size: 400%;
  animation: colorSpin 25s linear infinite;
}

.gradDynamic:before {
  background-color: yellow;
}

@keyframes colorSpin {
  25% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 100% 0;
  }
  100% {
    filter: hue-rotate(360deg);
  }
} */
